:root {
	/**
	* Sizes
	*/
	--xxs: 16px;
	--xs: 32px;
	--s: 48px;
	--m: 96px;
	--l: 144px;
	--xl: 13.3vw; //192px
	--xxl: 18.8vw; //272px

	/**
	* Colors
	*/
	--color-main: #4434c2;
	--color-secondary: #ec34c2;
	--color-black: #000;
	--color-white: #fff;

	/**
	* Border Radius
	*/
	--br-main: 16px;
}