/**
 * Typography
 */

$regular: 'Graphik-Regular';
$semiBold: 'Graphik-SemiBold';
$medium: 'Graphik-Medium';

@mixin fontSizeResponsive($max, $min, $maxNumber) {
	font-size: clamp($min, calc($maxNumber / 1440 * 100vw), calc($max * 1.5));
}

@mixin uber-style {
	// Font-size 150px in figma
	$uberStyle: 150px;
	$uberStyleNum: 150;
	$uberStyleMobile: 60px;
	@include fontSizeResponsive($uberStyle, $uberStyleMobile, $uberStyleNum);
	line-height: 1.35em;
	font-family: $medium;
}

@mixin h1-style {
	// Font-size 100px in figma
	$h1Style: 100px;
	$h1StyleNum: 100;
	$h1StyleMobile: 42px;
	@include fontSizeResponsive($h1Style, $h1StyleMobile, $h1StyleNum);
	line-height: 1.2em;
	font-family: $semiBold;
}

@mixin h2-style {
	// Font-size 80px in figma
	$h2Style: 80px;
	$h2StyleNum: 80;
	$h2StyleMobile: 36px;
	@include fontSizeResponsive($h2Style, $h2StyleMobile, $h2StyleNum);
	line-height: 1.35em;
	font-family: $semiBold;
}

@mixin h3-style {
	// Font-size 60px in figma
	$h3Style: 60px;
	$h3StyleNum: 60;
	$h3StyleMobile: 28px;
	@include fontSizeResponsive($h3Style, $h3StyleMobile, $h3StyleNum);
	line-height: 1.15em;
	font-family: $medium;
}

@mixin h4-style {
	// Font-size 40px in figma
	$h4Style: 40px;
	$h4StyleNum: 40;
	$h4StyleMobile: 24px;
	@include fontSizeResponsive($h4Style, $h4StyleMobile, $h4StyleNum);
	line-height: 1.15em;
	font-family: $medium;
}

@mixin h5-style {
	// Font-size 30px in figma
	$h5Style: 30px;
	$h5StyleNum: 30;
	$h5StyleMobile: 20px;
	@include fontSizeResponsive($h5Style, $h5StyleMobile, $h5StyleNum);
	line-height: 1.15em;
	font-family: $regular;
}

@mixin h6-style {
	// Font-size 24px in figma
	$h6Style: 24px;
	$h6StyleNum: 24;
	$h6StyleMobile: 18px;
	@include fontSizeResponsive($h6Style, $h6StyleMobile, $h6StyleNum);
	line-height: 1.15em;
	font-family: $regular;
}

@mixin body-l-style {
	$bodyLStyle: 16px;
	$bodyLStyleNum: 16;
	$bodyLStyleMobile: 14px;
	@include fontSizeResponsive($bodyLStyle, $bodyLStyleMobile, $bodyLStyleNum);
	line-height: 1.5em;
	font-family: $regular;
}

@mixin body-m-style {
	font-size: 14px;
	line-height: 1.5em;
	font-family: $regular;
}

@mixin body-s-style {
	font-size: 12px;
	line-height: 1.5em;
	font-family: $regular;
}
