:root {
	/**
    * Sizes
    */
	--xxs: 1.1vw; //16px
	--xs: 2.2vw; //32px
	--s: 4.4vw; //48px
	--m: 6.6vw; //96px
	--l: 10vw; //144px
	--xl: 13.3vw; //192px
	--xxl: 18.8vw; //272px

	/**
	* Colors
	*/
	--color-main: #4434c2;
	--color-secondary: #ec34c2;
	--color-black: #000;
	--color-white: #fff;

	/**
	* Border Radius
	*/
	--br-main: 16px;
}